[submodule "NoClip-OG"]
	path = NoClip-OG
	url = git@github.com:NotAlexNoyle/NoClip-OG
[submodule "FirstPlayed-OG"]
	path = FirstPlayed-OG
	url = git@github.com:NotAlexNoyle/FirstPlayed-OG
[submodule "NoDespawn-OG"]
	path = NoDespawn-OG
	url = git@github.com:NotAlexNoyle/NoDespawn-OG
[submodule "DiamondBank-OG"]
	path = DiamondBank-OG
	url = git@github.com:NotAlexNoyle/DiamondBank-OG
[submodule "Splegg-OG"]
	path = Splegg-OG
	url = git@github.com:NotAlexNoyle/Splegg-OG
[submodule "RandomEggs-OG"]
	path = RandomEggs-OG
	url = https://github.com/s0me0ne-coder/RandomEggs-OG
[submodule "IllegalStack-OG"]
	path = IllegalStack-OG
	url = https://github.com/NotAlexNoyle/IllegalStack-OG
[submodule "FlyingBow-OG"]
	path = FlyingBow-OG
	url = https://github.com/Barny1094875/FlyingBow-OG.git
[submodule "ChainMailArmorRecipes-OG"]
	path = ChainMailArmorRecipes-OG
	url = https://github.com/Barny1094875/ChainMailArmorRecipes-OG.git
[submodule "RewindFix-OG"]
	path = RewindFix-OG
	url = https://github.com/SKBotNL/RewindFix-OG
[submodule "TheHerobrine-OG"]
	path = TheHerobrine-OG
	url = https://github.com/Gxorge/TheHerobrine-OG
	branch = trueog
[submodule "Chat-OG"]
	path = Chat-OG
	url = https://github.com/SKBotNL/Chat-OG
[submodule "FastCrystals-OG"]
	path = FastCrystals-OG
	url = https://github.com/NotAlexNoyle/FastCrystals-OG
[submodule "LaunchPads-OG"]
	path = LaunchPads-OG
	url = https://github.com/Barny1094875/LaunchPads-OG.git
[submodule "HorseTp-OG"]
	path = HorseTp-OG
	url = https://github.com/Barny1094875/HorseTp-OG.git
[submodule "SilkSpawners-OG"]
	path = SilkSpawners-OG
	url = https://github.com/Sekalol15/SilkSpawners-OG
[submodule "QuickShop-Reremake-OG"]
	path = QuickShop-Reremake-OG
	url = https://github.com/NotAlexNoyle/QuickShop-Reremake-OG
[submodule "WETS-OG"]
	path = WETS-OG
	url = https://github.com/NotAlexNoyle/WETS-OG
[submodule "Staff-OG"]
	path = Staff-OG
	url = https://github.com/Gxorge/Staff-OG/
[submodule "ColorCodes-OG"]
	path = ColorCodes-OG
	url = git@github.com:NotAlexNoyle/ColorCodes-OG
[submodule "Buy-OG"]
	path = Buy-OG
	url = git@github.com:NotAlexNoyle/Buy-OG
[submodule "NoFlippy-OG"]
	path = NoFlippy-OG
	url = https://github.com/NotAlexNoyle/NoFlippy-OG
